@use "sass:map";

@use "pico" with (
  $theme-color: "sand",
  $enable-semantic-container: true,
  $breakpoints:   (
    xl: null,
    xxl: null
  )
);

@use "themes/default/theme-colors";
@use "helpers/functions";

@import "colors";


@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-background-color:  #{mix($sand-900, $sand-850)}; // theme-colors.get("text-selection-color", "dark");
    --pico-card-background-color: #{$sand-800};
    --pico-code-background-color: #{$sand-850};
    --pico-code-color: #{$sand-400};
    --pico-dropdown-background-color: #{$sand-800};
    --pico-dropdown-hover-background-color: #{$sand-900};
    --pico-dropdown-border-color: #{$sand-400};
    --pico-dropdown-color: var(--pico-contrast);
    --pico-icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{functions.display-rgb($sand-400)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  }
}

/* fsdasdasd */


.brand {
  text-transform: uppercase;
  font-weight: 700;
}

footer {
  font-size: 85%;
}

.home {
  main > section {
    display: flex;
    justify-content: space-around;
    gap: 1em;
  }
  
  h1:before {
    content: "";
    display: block;
    background-image: url("/assets/images/spiel-logo.svg");
    width: 4.5em;
    background-size: contain;
  }

  h1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  h1 > span {
    width: 10em;
    line-height: 1.4em;
  }
  
  .logo {
    justify-self: end;
    max-height: 5em;
    text-align: right;
  }
  
  article > h2 {
    font-size: 1.25rem;
  }
  
  article > h3 {
    font-size: 1rem;
  }
  
}

nav details.dropdown {
  summary::after {
    height: 1.2rem;
  }

  summary + ul {
    margin-top: calc(var(--pico-nav-link-spacing-vertical) * -1);
  }
}