<!DOCTYPE html>
<html>
  {% include head.liquid %}
<body>
  {% include header.liquid %}
  <main>
    <h1>{{ page.title }}</h1>
    {% comment %} {{ page | debug }} {% endcomment %}
    {% if page.remote_resource %}
      {% remote_markdown page.remote_resource %}
    {% else %}
      {{ content }}
    {% endif %}
  </main>
  {% include footer.liquid %}
</body>

</html>