<!DOCTYPE html>
<html>
  {% include head.liquid %}
<body class="home">
  {% include header.liquid %}
  <main>
    <h1><span>{{ page.title }}</span></h1>
    {{ content }}
  </main>
  {% include footer.liquid %}
</body>

</html>